<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:22pt">Rulebook F1 Compo</span></p>

<h1 dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:18pt">1. General Rules</span></h1>

<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">See &rarr;</span><a href="http://www.fom.be/contents/view/general-competition-rules" style="text-decoration-line: none;"><span style="background-color:transparent; color:rgb(17, 85, 204); font-family:arial,sans-serif; font-size:11pt"> http://www.fom.be/contents/view/general-competition-rules</span></a></p>

<p>&nbsp;</p>

<h1 dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:18pt">2. F1 General Rules</span></h1>

<ol>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-size:11pt">Games will be played on one of the two provided racing simulator setups.</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-size:11pt">Players do not need to own a copy of the game.</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-size:11pt">As this is an experimental compo for us, it is possible some of these rules will change during the weekend. Communication if this happens will always be done via the </span><strong>Discord channel</strong><span style="background-color:transparent; font-size:11pt">, so please make sure to join that and keep an eye on it.</span></p>

	<ol>
		<li dir="ltr">
		<p dir="ltr"><a href="https://www.fom.be/discord" style="text-decoration-line: none;"><span style="background-color:transparent; color:rgb(17, 85, 204); font-size:11pt">https://www.fom.be/discord</span></a><span style="background-color:transparent; font-size:11pt">&nbsp;</span></p>
		</li>
	</ol>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-size:11pt">Since we are using the setup provided by Red Bull, the Red Bull team cars will have to be selected.</span></p>
	</li>
</ol>

<h1 dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:18pt">3. Format</span></h1>

<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">The competition consists of 2 phases:</span></p>

<ul>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-size:11pt">The Time Trial phase, where players can try to set their best times during a set period.</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-size:11pt">The Playoff phase where the top four recorded participants will face off head-to-head.</span></p>
	</li>
</ul>

<p>&nbsp;</p>

<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">The schedule can be found on the compo page on the website.</span></p>

<h2 dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:16pt">3.1 Time Trials</span></h2>

<ul>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-size:11pt">The time trials are open to all attendees who purchased a FoM seat.&nbsp;</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-size:11pt">Signups for the compo will remain open until the Time Trial phase ends. This means players can sign up even after the time trials have started.</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-size:11pt">Each participant may attempt as many trials as they want. However, the use of the racing simulators should be distributed fairly.</span></p>

	<ul>
		<li dir="ltr">
		<p dir="ltr"><span style="background-color:transparent; font-size:11pt">If the admins notice that this is not happening, certain restrictions may be placed at any time.</span></p>
		</li>
	</ul>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-size:11pt">The in-game Time Trial mode will be used, using the </span><strong>Silverstone (UK)</strong><span style="background-color:transparent; font-size:11pt"> circuit.</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-size:11pt">After placing a personal best time, you must take a screenshot (i.e. use your phone) and go to the compo desk to have it submitted.</span></p>

	<ul>
		<li dir="ltr">
		<p dir="ltr"><span style="background-color:transparent; font-size:11pt">Alternatively, you can post a screenshot in the discord channel. Admins will keep an eye on there to update our ranking as well.</span></p>
		</li>
	</ul>
	</li>
</ul>

<p>&nbsp;</p>

<h2 dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:16pt">3.2 Playoffs</span></h2>

<ul>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-size:11pt">The top four time trials will continue to a Single Elimination bracket (1vs1).</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-size:11pt">Seeding will be based on the best time trials times.</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-size:11pt">The format will be a </span><strong>Best of Three Time Trials.&nbsp;</strong></p>

	<ul>
		<li dir="ltr">
		<p dir="ltr"><span style="background-color:transparent; font-size:11pt">Only 1 chance of placing a best time, and the previous best times do not count anymore.</span></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><span style="background-color:transparent; font-size:11pt">Both players will be play at the same time</span></p>
		</li>
	</ul>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-size:11pt">The circuits will be:</span></p>

	<ul>
		<li dir="ltr">
		<p dir="ltr"><span style="background-color:transparent; font-size:11pt">First Round: </span><strong>Zandvoort (NL)</strong></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><span style="background-color:transparent; font-size:11pt">Second Round: </span><strong>Spa (BE)</strong></p>
		</li>
		<li dir="ltr">
		<p dir="ltr"><span style="background-color:transparent; font-size:11pt">Third (Decider) Round: </span><strong>Saudi Arabia</strong></p>
		</li>
	</ul>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-size:11pt">Whoever finishes with the fastest best time will win the circuit. Whoever wins two circuits, wins the match.</span></p>
	</li>
</ul>

<p>&nbsp;</p>

<h1 dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:20pt">4. Settings</span></h1>

<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Normally, the settings are configured correctly on both racing seats. If you opt to change them (to make it more difficult), please make sure to change them back once you are done.</span></p>

<h2 dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:16pt">4.1 Assist Restrictions</span></h2>

<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">These are the </span><strong>maximum</strong><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt"> restrictions that may be set. Participants are free to choose to have more difficult assist settings.</span></p>

<p>&nbsp;</p>

<div dir="ltr" style="margin-left:0pt;">
<table style="border-collapse:collapse; border:none">
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Driving Proficiency: Amateur</span></p>
			</td>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Gearbox: Automatic</span></p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Steering Assist: Off</span></p>
			</td>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Pit Assist: On</span></p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Braking Assist: Medium</span></p>
			</td>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Pit Release Assist: On</span></p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Anti-Lock Brakes: On</span></p>
			</td>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">ERS Assist: On</span></p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Traction Control: Full</span></p>
			</td>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">DRS Assist: On</span></p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Dynamic Racing Line: Full</span></p>
			</td>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Force cockpit camera: Off</span></p>
			</td>
		</tr>
	</tbody>
</table>
</div>

<p>&nbsp;</p>

<h2 dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:16pt">4.2 Game Settings</span></h2>

<p>&nbsp;</p>

<ul>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-size:11pt">Simulation Settings:</span></p>
	</li>
</ul>

<p>&nbsp;</p>

<div dir="ltr" style="margin-left:0pt;">
<table style="border-collapse:collapse; border:none">
	<tbody>
		<tr>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Equal Car Performance: On</span></p>
			</td>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Pit Lane Tyre Sim: On</span></p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Recovery Mode: None</span></p>
			</td>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Unsafe Pit Release: On</span></p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Surface Type: Realistic</span></p>
			</td>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Car Damage: Off</span></p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Low Fuel Mode: Easy</span></p>
			</td>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Car Damage Rate: Reduced</span></p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Race Starts: Assisted</span></p>
			</td>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Collisions: On</span></p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Tyre Temperature: Surface &amp; Carcass</span></p>
			</td>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Off for First Lap Only: Enabled</span></p>
			</td>
		</tr>
		<tr>
			<td style="vertical-align:top">
			<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Off for Griefing: Enabled</span></p>
			</td>
			<td style="vertical-align:top">&nbsp;</td>
		</tr>
	</tbody>
</table>
</div>

<p>&nbsp;</p>

<p dir="ltr"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt">Again, these are the </span><strong>maximum</strong><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif; font-size:11pt"> restrictions that may be set. Participants are free to choose to have more difficult simulation settings.</span></p>

<p><br />
&nbsp;</p>

