<h1 dir="ltr"><span style="font-size:24px">Time Trials</span></h1>

<p dir="ltr">&nbsp;</p>

<p dir="ltr"><span style="font-size:12px"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif"><strong>Friday 22:00</strong><br />
Start time trials</span></span></p>

<p dir="ltr"><span style="font-size:12px"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif"><strong>Saturday 22:00</strong><br />
End time trials</span></span></p>

<p>&nbsp;</p>

<h1 dir="ltr"><span style="font-size:24px"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif">Playoffs</span></span></h1>

<p dir="ltr">&nbsp;</p>

<p dir="ltr"><span style="font-size:14px"><strong>On Sunday</strong></span></p>

<p dir="ltr"><span style="font-size:14px"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif"><strong>Round of 4: </strong></span></span></p>

<p dir="ltr" style="margin-left:40px"><span style="font-size:14px"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif"><strong>Match 1:&nbsp;</strong>10:00</span></span></p>

<p dir="ltr" style="margin-left:40px"><span style="font-size:14px"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif"><strong>Match 2:</strong> 11:00</span></span></p>

<p dir="ltr"><span style="font-size:14px"><span style="background-color:transparent; color:rgb(0, 0, 0); font-family:arial,sans-serif"><strong>Finals:</strong> 12:30</span></span></p>

<div>&nbsp;</div>

