<h1 dir="ltr">1. General Rules:</h1>

<p dir="ltr">See &rarr;<a href="http://www.fom.be/contents/view/general-competition-rules"> http://www.fom.be/contents/view/general-competition-rules</a></p>

<h1 dir="ltr">2. Competition Rules:</h1>

<p dir="ltr">In case of uncertainty =&gt; follow the ESL rulebook</p>

<h2 dir="ltr">2.1 Compo Overview:</h2>

<p dir="ltr">Title: Heroes of The Storm</p>

<p dir="ltr">Size: Fun</p>

<p dir="ltr">Max teams: 32</p>

<p dir="ltr">Gametype: 5v5</p>

<h2 dir="ltr">2.2 Sign In:</h2>

<p dir="ltr">Sign in will close Saturday at 10:00<br />
Compo will start Saturday at 11.00</p>

<h2 dir="ltr">2.3 Compo Rules:</h2>

<p dir="ltr">Game Settings:</p>

<p dir="ltr" style="margin-left:36pt">Map: picks and bans<br />
Team size: 5<br />
Allow Spectators: All<br />
Game Type: custom standard<br />
ssword: fom</p>

<p dir="ltr">Disconnects / Pausing:</p>

<ul style="list-style-type:disc">
	<li dir="ltr">
	<p dir="ltr">Pausing the game is only allowed if a player disconnects or has serious hardware problems.</p>
	</li>
	<li dir="ltr">
	<p dir="ltr">Before unpausing the game, both teams&nbsp;have to agree in all chat.</p>
	</li>
	<li dir="ltr">
	<p dir="ltr">A pause can last a maximum of 10 minutes.</p>
	</li>
	<li dir="ltr">
	<p dir="ltr">If a pause lasts longer than 5 minutes contact the compo admin.</p>
	</li>
	<li dir="ltr">
	<p dir="ltr">If the problem isn&rsquo;t fixed after 10 minutes, the compo admin can decide to forfeit the match.</p>
	</li>
	<li dir="ltr">
	<p dir="ltr">Abuse of the pause function in any way, will lead to a forfeit or even disqualification.</p>
	</li>
	<li>There may only be 7 players in a team. Only the registered player can play for the team. 5 main players and 2 backup players.</li>
</ul>

<p>&nbsp;</p>

<p dir="ltr">Regame:</p>

<p dir="ltr" style="margin-left:36pt">A regame is allowed if both team&nbsp;agree it is needed to play a fair and balanced match.<br />
Both players play the same hero.</p>

<p dir="ltr" style="margin-left:36pt">If a player cannot connect to a game before it has started because of a bug, the game has to be restarted. A screenshot of the bug is required!</p>

<p dir="ltr">Schedule Problems:</p>

<p dir="ltr" style="margin-left:36pt">The schedule must be followed. If a game hasn&rsquo;t started within 90 minutes of the scheduled match time, the admin will decide which player will forfait the game. If both teams are absent, both teams will forfait their game.<br />
To avoid forfeiting when the opposing players doesn&rsquo;t show. Take a screenshot of your game lobby with the correct name and password and an invite to the opposing players. Contact the compo admin as soon as you have this screenshot.</p>

<p dir="ltr">Participating in Multiple Competitions</p>

<p dir="ltr" style="margin-left:36pt">It is allowed to participate for other compos. If however you fail to start a match in time, for any reason, the admin can decide to forfeit the match.</p>

<p dir="ltr">Heroes:</p>

<p dir="ltr" style="margin-left:36pt">All Heroes are allowed</p>

<p dir="ltr">Spectators:</p>

<p dir="ltr" style="margin-left:36pt">Spectators are allowed only if both teams&nbsp;agree to it.<br />
Only invite spectators you trust. Once a game has started protests against spectators will no longer be allowed.</p>

<p dir="ltr" style="margin-left:36pt">FoM admins or people assigned &nbsp;by an admin, like shoutcasters, are allowed to spectate any match. It can&rsquo;t be refused to invite an admin or someone assigned by an admin.</p>

<p dir="ltr">Cheats:</p>

<p dir="ltr" style="margin-left:36pt">Any actions that results in an unfair advantage are illegal. This includes bug abuse of any kind.</p>

<p>&nbsp;</p>

<p dir="ltr">Win Conditions:</p>

<ul style="list-style-type:disc">
	<li dir="ltr">
	<p dir="ltr">Defeat opponents core</p>
	</li>
</ul>

<p dir="ltr">Ingame Chat:</p>

<p dir="ltr" style="margin-left:36pt">To make it easier to find your opponent every player MUST be present in the chatroom &ldquo;HOTS FOM&rdquo; during the tournament.</p>

<p dir="ltr">Contacting the Compo Admin:</p>

<p dir="ltr" style="margin-left:36pt">You may contact the admin &quot;Channi#2218&quot; in-game.<br />
If you can&#39;t contact the admin online, come to the compo desk and ask for Channi.</p>

<h2 dir="ltr">2.4 Compo Stucture:</h2>

<p dir="ltr" style="margin-left:36pt">Brackets: double elimination best of 3</p>

<p dir="ltr" style="margin-left:36pt">Maps: every team bans a map then hosting team choses 1 map, after that the other team choses a map, if it ends in a draw aftter those 2 rounds: SKY TEMPLE will be the default map</p>

<p dir="ltr" style="margin-left:36pt">Finals: BO3<br />
&nbsp;</p>

<h2 dir="ltr">2.5 Head Admin Details:</h2>

<p dir="ltr" style="margin-left:36pt">Name: Channi</p>

<p dir="ltr" style="margin-left:36pt">Nickname / Game Account: Channigami / Channi#2218</p>

<p dir="ltr" style="margin-left:36pt">E-mail: channi@fom.be</p>

<p><br />
&nbsp;</p>

<p dir="ltr">The admin is allowed to change these rules at any time without notification.</p>
