
<div class="league-text league-text-gamerules" style="box-sizing: border-box;">Only a team which participated in a match can complain about the results in any way. All rules are subject to change without notification.
<h2>1. Game Format</h2>

<ul style="list-style-type:none">
	<li>
	<h3>1.1. Player Eligibility</h3>
	All players participating in PlayerUnknown's Battlegrounds (henceforth&nbsp;<strong>PUBG</strong>) competitions must enter their PUBG ID. The gameaccount is needed to check if the correct player is playing.<br>
	<br>
	Sign-ups will be closed for all cups 30 minutes before they start. If your team has not signed up before this time you will be unable to participate.<br>
	Your team will also be required to check-in to the cup itself starting 30 minutes before the cup.</li>
	<li>
	<h3>1.2. Team and Player Names</h3>
	Only registered team members are allowed to play for a team. Playing in any matches with a ringer is prohibited.&nbsp;Players and teams must compete under their officially registered PUBG team names and Nicknames during all official matches.</li>
	<li>
	<h3>1.3. Roster</h3>
	Team rosters must consist of at least the minimum amount of players required to participate in a cup. Teams are only allowed to play with players on their roster with a registered game account. All roster changes must be made prior to the start of a cup. Playing with different players and/or illegal ringers will result in punishment.<br>
	&nbsp;</li>
	<li>
	<h3>1.4. Game version</h3>
	All players must install the newest version of the game in order to participate in Fom&nbsp;tournaments. Updates must be installed before the tournament starts, so delays will be at a minimum.</li>
	<li>
	<h3>1.5. Technical Issues</h3>
	Teams are responsible for their own technical issues (hardware/internet). Matches will not be rescheduled because of technical issues and matches will be played nevertheless. If the warm-up time in the starting area is exceeded the game goes on, even if the issue is not solved yet. In case of massive problems influencing a significant amount of players, a replay of the map may be called via the tournament's support channels on Discord.</li>
	<li>
	<h3>1.6. Participation</h3>
	The first teams to do their check-ins for each cup get to participate until the maximum amount of check-ins is reached. Slots will be available on a first-come, first-served basis beginning from the check-in process start 30 minutes before the start of the cup.<br>
	<br>
	Each lobby will consist of 16 teams (or less during the first round if the sign-up limit is not reached). The number of rounds and lobbies may change based on the number of checked-in teams.</li>
	<li>
	<h3>1.7. Disqualification</h3>
	To keep cups as efficient as possible, Fom&nbsp;reserves the right to disqualify teams. This will only be done in cases where a team purposefully stalls or attempts to block the cup from starting.<br>
	<br>
	Usage of Reshade, SweetFX, VibranceGUI, and other 3rd party programs that enhance, add, modify, or remove the game appearance, colour, or files, is strictly prohibited.<br>
	<br>
	Intentionally changing your character's angle to look through a texture or object is prohibited. You are not allowed to set two actions to the same key in key bindings.<br>
	<br>
	The intentional use of any bugs, cheats, glitches, or errors in the game is strictly forbidden and will be penalized. Any team found to be using any known exploit will forfeit their game upon the first occurrence of the exploit. If the team is found to use another known exploit for a second time and it is determined to have been done on purpose they will be removed from the tournament and barred from any future tournaments.</li>
</ul>

<h2>2. In-Game Settings</h2>
Every Match in the Competition will use Esports Mode with the following Match Settings. All settings shall remain default unless explicitly stated below. Administration reserves the right to make changes to In-Game Settings for any reason at any time. Administration may make temporary adjustments to In-Game Settings in order to help mitigate the impact of any in-game bug.

<ul style="list-style-type:none">
	<li>
	<h3>2.1. Basic</h3>
	</li>
	<li>
	<ul style="list-style-type:none">
		<li>
		<h4>2.1.1. Game Settings</h4>

		<ul>
			<li>Map: Erangel Classic, Miramar or Sanhok</li>
			<li>Perspective: FPP</li>
			<li>Players: 64</li>
			<li>Team Members: 4</li>
		</ul>
		</li>
	</ul>
	</li>
	<li>
	<h3>2.2. Rules</h3>

	<ul style="list-style-type:none">
		<li>
		<h4>2.2.1. Weather</h4>

		<ul>
			<li>Weather: Sunny</li>
		</ul>
		</li>
	</ul>
	</li>
</ul>

<ul style="list-style-type:none">
	<li>
	<h3>2.3. Erangel Classic Settings</h3>

	<ul style="list-style-type:none">
		<li>
		<h4>2.3.1. Erangel Classic Settings: Blue Zone</h4>
		</li>
	</ul>
	</li>
</ul>

<table align="center" class="table table-bordered" style="background-color:transparent; border-bottom-color:rgb(221, 221, 221); border-bottom-style:solid; border-image:initial; border-left-color:initial; border-left-style:initial; border-radius:4px; border-right-color:rgb(221, 221, 221); border-right-style:solid; border-spacing:0px; border-top-color:rgb(221, 221, 221); border-top-style:solid; border-width:1px 1px 1px 0px; margin-bottom:10px; max-width:100%; width:547.5px">
	<tbody>
		<tr>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Circle Number</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Delay</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Wait</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Move</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">DPS</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Shrink</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Spread</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Land Ratio</th>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">1</td>
			<td style="text-align:right; vertical-align:top">90</td>
			<td style="text-align:right; vertical-align:top">180</td>
			<td style="text-align:right; vertical-align:top">270</td>
			<td style="text-align:right; vertical-align:top">0.6</td>
			<td style="text-align:right; vertical-align:top">0.4</td>
			<td style="text-align:right; vertical-align:top">0.5</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">2</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">90</td>
			<td style="text-align:right; vertical-align:top">120</td>
			<td style="text-align:right; vertical-align:top">0.8</td>
			<td style="text-align:right; vertical-align:top">0.55</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">3</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">60</td>
			<td style="text-align:right; vertical-align:top">120</td>
			<td style="text-align:right; vertical-align:top">1</td>
			<td style="text-align:right; vertical-align:top">0.6</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">4</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">60</td>
			<td style="text-align:right; vertical-align:top">150</td>
			<td style="text-align:right; vertical-align:top">3</td>
			<td style="text-align:right; vertical-align:top">0.6</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">1</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">5</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">50</td>
			<td style="text-align:right; vertical-align:top">120</td>
			<td style="text-align:right; vertical-align:top">5</td>
			<td style="text-align:right; vertical-align:top">0.65</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">6</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">50</td>
			<td style="text-align:right; vertical-align:top">120</td>
			<td style="text-align:right; vertical-align:top">8</td>
			<td style="text-align:right; vertical-align:top">0.65</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">7</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">50</td>
			<td style="text-align:right; vertical-align:top">90</td>
			<td style="text-align:right; vertical-align:top">10</td>
			<td style="text-align:right; vertical-align:top">0.65</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">8</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">50</td>
			<td style="text-align:right; vertical-align:top">60</td>
			<td style="text-align:right; vertical-align:top">14</td>
			<td style="text-align:right; vertical-align:top">0.7</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">1</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">9</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">10</td>
			<td style="text-align:right; vertical-align:top">160</td>
			<td style="text-align:right; vertical-align:top">18</td>
			<td style="text-align:right; vertical-align:top">0.001</td>
			<td style="text-align:right; vertical-align:top">10</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
	</tbody>
</table>

<ul style="list-style-type:none">
	<li>
	<ul style="list-style-type:none">
		<li>
		<h4>2.3.2. Erangel Classic Settings: Item Spawns</h4>

		<ul>
			<li>Item Spawn Type: Adjustable Ratio &amp; Adjustable Total Number</li>
			<li>Spawn Rate Multiplier: 1.8x</li>
		</ul>
		</li>
		<li>
		<h4>2.3.3. Erangel Classic Settings: Ammunitions</h4>

		<ul>
			<li>Ammunitions: 1x
			<ul>
				<li>Bolts: 0x</li>
				<li>Flares: 0x</li>
			</ul>
			</li>
		</ul>
		</li>
		<li>
		<h4>2.3.4. Erangel Classic Settings: Weapons</h4>

		<ul>
			<li>Sniper Rifles: 1.5x</li>
			<li>DMRs: 2x</li>
			<li>Assault Rifles: 1.4x</li>
			<li>Hunting Rifles: 0x</li>
			<li>LMGs: 0.4x</li>
			<li>SMGs: 1.8x</li>
			<li>Shotguns: 0.9x</li>
			<li>Handguns: 0.4x</li>
			<li>Throwables: 1.3x
			<ul>
				<li>Stun Grenade: 1.2x</li>
				<li>Frag Grenade: 0.7x</li>
				<li>Molotov Cocktail: 1.1x</li>
				<li>Smoke Grenade: 1x</li>
			</ul>
			</li>
			<li>Melee Weapons: 1.7x</li>
			<li>Crossbow: 0x</li>
			<li>Flare Gun: 0x</li>
		</ul>
		</li>
		<li>
		<h4>2.3.5. Erangel Classic Settings: ETC</h4>

		<ul>
			<li>Magazine Attachments: 0.5x</li>
			<li>Muzzle Attachment: 0.7x</li>
			<li>Foregrip Attachment: 1.2x</li>
			<li>Stock Attachments: 1.5x
			<ul>
				<li>Quiver (Crossbow): 0x</li>
			</ul>
			</li>
		</ul>
		</li>
		<li>
		<h4>2.3.6. Erangel Classic Settings: Consumables</h4>

		<ul>
			<li>Boost Items: 0.9x</li>
			<li>Gas Can: 0.3x</li>
		</ul>
		</li>
		<li>
		<h4>2.3.7. Erangel Classic Settings: Equipment</h4>

		<ul>
			<li>Backpack: 0.6x</li>
			<li>Helmet: 0.8x</li>
			<li>Armored Vest: 0.8x</li>
		</ul>

		<ul style="list-style-type:none">
			<li><em>*Note: Helmet (Lv.3) can only be found in care packages.</em></li>
		</ul>
		</li>
		<li>
		<h4>2.3.8. Erangel Classic Settings: Clothing</h4>

		<ul>
			<li>Clothing: 0x</li>
		</ul>
		</li>
		<li>
		<h4>2.3.9. Erangel Classic Settings: Land Vehicles</h4>

		<ul>
			<li>Motorbike w/ Sidecar: 0x</li>
		</ul>
		</li>
	</ul>
	</li>
	<li>
	<h3>2.4. Miramar Settings</h3>

	<ul style="list-style-type:none">
		<li>
		<h4>2.4.1. Miramar Settings: Blue Zone</h4>
		</li>
	</ul>
	</li>
</ul>

<table align="center" class="table table-bordered" style="background-color:transparent; border-bottom-color:rgb(221, 221, 221); border-bottom-style:solid; border-image:initial; border-left-color:initial; border-left-style:initial; border-radius:4px; border-right-color:rgb(221, 221, 221); border-right-style:solid; border-spacing:0px; border-top-color:rgb(221, 221, 221); border-top-style:solid; border-width:1px 1px 1px 0px; margin-bottom:10px; max-width:100%; width:547.5px">
	<tbody>
		<tr>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Circle Number</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Delay</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Wait</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Move</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">DPS</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Shrink</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Spread</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Land Ratio</th>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">1</td>
			<td style="text-align:right; vertical-align:top">90</td>
			<td style="text-align:right; vertical-align:top">180</td>
			<td style="text-align:right; vertical-align:top">270</td>
			<td style="text-align:right; vertical-align:top">0.6</td>
			<td style="text-align:right; vertical-align:top">0.4</td>
			<td style="text-align:right; vertical-align:top">0.5</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">2</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">90</td>
			<td style="text-align:right; vertical-align:top">120</td>
			<td style="text-align:right; vertical-align:top">0.8</td>
			<td style="text-align:right; vertical-align:top">0.55</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">3</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">60</td>
			<td style="text-align:right; vertical-align:top">120</td>
			<td style="text-align:right; vertical-align:top">1</td>
			<td style="text-align:right; vertical-align:top">0.6</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">4</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">60</td>
			<td style="text-align:right; vertical-align:top">150</td>
			<td style="text-align:right; vertical-align:top">3</td>
			<td style="text-align:right; vertical-align:top">0.6</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">1</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">5</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">50</td>
			<td style="text-align:right; vertical-align:top">120</td>
			<td style="text-align:right; vertical-align:top">5</td>
			<td style="text-align:right; vertical-align:top">0.65</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">6</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">50</td>
			<td style="text-align:right; vertical-align:top">120</td>
			<td style="text-align:right; vertical-align:top">8</td>
			<td style="text-align:right; vertical-align:top">0.65</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">7</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">50</td>
			<td style="text-align:right; vertical-align:top">90</td>
			<td style="text-align:right; vertical-align:top">10</td>
			<td style="text-align:right; vertical-align:top">0.65</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">8</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">50</td>
			<td style="text-align:right; vertical-align:top">60</td>
			<td style="text-align:right; vertical-align:top">14</td>
			<td style="text-align:right; vertical-align:top">0.7</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">1</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">9</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">10</td>
			<td style="text-align:right; vertical-align:top">160</td>
			<td style="text-align:right; vertical-align:top">18</td>
			<td style="text-align:right; vertical-align:top">0.001</td>
			<td style="text-align:right; vertical-align:top">10</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
	</tbody>
</table>

<ul style="list-style-type:none">
	<li>
	<ul style="list-style-type:none">
		<li>
		<h4>2.4.2. Miramar Settings: Item Spawns</h4>

		<ul>
			<li>Item Spawn Type: Adjustable Ratio &amp; Adjustable Total Number</li>
			<li>Spawn Rate Multiplier: 1.8x</li>
		</ul>
		</li>
		<li>
		<h4>2.4.3. Miramar Settings: Ammunitions</h4>

		<ul>
			<li>Ammunitions: 1.1x
			<ul>
				<li>Bolt: 0x</li>
				<li>Flare: 0x</li>
			</ul>
			</li>
		</ul>
		</li>
		<li>
		<h4>2.4.4. Miramar Settings: Weapons</h4>

		<ul>
			<li>Sniper Rifles: 3x</li>
			<li>DMRs: 3x</li>
			<li>Assault Rifles: 1.6x</li>
			<li>Hunting Rifles: 0.8x</li>
			<li>LMGs: 0.8x</li>
			<li>SMGs: 1.7x</li>
			<li>Shotguns: 0.9x</li>
			<li>Handguns: 0.3x</li>
			<li>Throwables: 1x
			<ul>
				<li>Stun Grenade: 1.2x</li>
				<li>Frag Grenade: 0.5x</li>
				<li>Molotov Cocktail: 1.2x</li>
				<li>Smoke Grenade: 1x</li>
			</ul>
			</li>
			<li>Melee: 1.7x</li>
			<li>Crossbow: 0x</li>
			<li>Flaregun: 0x</li>
		</ul>
		</li>
		<li>
		<h4>2.4.5. Miramar Settings: ETC</h4>

		<ul>
			<li>Sight Attachments: 1.1x</li>
			<li>Magazine Attachments: 1.1x</li>
			<li>Muzzle Attachments: 0.6x</li>
			<li>Foregrip Attachments: 1.2x</li>
			<li>Stock Attachments: 1x
			<ul>
				<li>Quiver (Crossbow): 0x</li>
			</ul>
			</li>
		</ul>
		</li>
		<li>
		<h4>2.4.6. Miramar Settings: Consumables</h4>

		<ul>
			<li>Gas Can: 0.3x</li>
		</ul>
		</li>
		<li>
		<h4>2.4.7. Miramar Settings: Equipment</h4>

		<ul>
			<li>Bag​pack: 0.8x</li>
			<li>Helmet: 0.9x</li>
			<li>Armored Vest: 0.8x</li>
		</ul>

		<ul style="list-style-type:none">
			<li><em>*Note: Helmet (Lv.3) can only be found in care packages.</em></li>
		</ul>
		</li>
		<li>
		<h4>2.4.8. Miramar Settings: Clothing</h4>

		<ul>
			<li>Clothing: 0x</li>
		</ul>
		</li>
		<li>
		<h4>2.4.9. Miramar Settings: Land Vehicles</h4>

		<ul>
			<li>Motorbike w/ Sidecar: 0x</li>
		</ul>
		</li>
	</ul>
	</li>
</ul>

<ul style="list-style-type:none">
	<li>
	<h3>2.4. Sanhok Settings</h3>

	<ul style="list-style-type:none">
		<li>
		<h4>2.4.1. Sanhok Settings: Blue Zone</h4>
		</li>
	</ul>
	</li>
</ul>

<table align="center" class="table table-bordered" style="background-color:transparent; border-bottom-color:rgb(221, 221, 221); border-bottom-style:solid; border-image:initial; border-left-color:initial; border-left-style:initial; border-radius:4px; border-right-color:rgb(221, 221, 221); border-right-style:solid; border-spacing:0px; border-top-color:rgb(221, 221, 221); border-top-style:solid; border-width:1px 1px 1px 0px; margin-bottom:10px; max-width:100%; width:547.5px">
	<tbody>
		<tr>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Circle Number</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Delay</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Wait</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Move</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">DPS</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Shrink</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Spread</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Land Ratio</th>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">1</td>
			<td style="text-align:right; vertical-align:top">90</td>
			<td style="text-align:right; vertical-align:top">120</td>
			<td style="text-align:right; vertical-align:top">240</td>
			<td style="text-align:right; vertical-align:top">0.6</td>
			<td style="text-align:right; vertical-align:top">0.4</td>
			<td style="text-align:right; vertical-align:top">0.5</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">2</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">90</td>
			<td style="text-align:right; vertical-align:top">120</td>
			<td style="text-align:right; vertical-align:top">0.8</td>
			<td style="text-align:right; vertical-align:top">0.7</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">3</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">60</td>
			<td style="text-align:right; vertical-align:top">120</td>
			<td style="text-align:right; vertical-align:top">1</td>
			<td style="text-align:right; vertical-align:top">0.6</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">1</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">4</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">60</td>
			<td style="text-align:right; vertical-align:top">100</td>
			<td style="text-align:right; vertical-align:top">3</td>
			<td style="text-align:right; vertical-align:top">0.6</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">5</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">50</td>
			<td style="text-align:right; vertical-align:top">80</td>
			<td style="text-align:right; vertical-align:top">5</td>
			<td style="text-align:right; vertical-align:top">0.65</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">6</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">50</td>
			<td style="text-align:right; vertical-align:top">60</td>
			<td style="text-align:right; vertical-align:top">8</td>
			<td style="text-align:right; vertical-align:top">0.65</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">1</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">7</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">20</td>
			<td style="text-align:right; vertical-align:top">40</td>
			<td style="text-align:right; vertical-align:top">10</td>
			<td style="text-align:right; vertical-align:top">0.65</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">8</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">10</td>
			<td style="text-align:right; vertical-align:top">40</td>
			<td style="text-align:right; vertical-align:top">14</td>
			<td style="text-align:right; vertical-align:top">0.7</td>
			<td style="text-align:right; vertical-align:top">0.56</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">9</td>
			<td style="text-align:right; vertical-align:top">0</td>
			<td style="text-align:right; vertical-align:top">10</td>
			<td style="text-align:right; vertical-align:top">100</td>
			<td style="text-align:right; vertical-align:top">18</td>
			<td style="text-align:right; vertical-align:top">0.001</td>
			<td style="text-align:right; vertical-align:top">10</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
	</tbody>
</table>

<ul style="list-style-type:none">
	<li>
	<ul style="list-style-type:none">
		<li>
		<h4>2.4.2. Sanhok Settings: Item Spawns</h4>

		<ul>
			<li>Item Spawn Type: Adjustable Ratio &amp; Adjustable Total Number</li>
			<li>Spawn Rate Multiplier: 1x</li>
		</ul>
		</li>
		<li>
		<h4>2.4.3. Sanhok Settings: Ammunitions</h4>

		<ul>
			<li>Ammunitions: 1x
			<ul>
				<li>Bolt: 0x</li>
				<li>Flare: 0x</li>
			</ul>
			</li>
		</ul>
		</li>
		<li>
		<h4>2.4.4. Sanhok Settings: Weapons</h4>

		<ul>
			<li>Sniper Rifles: 3x</li>
			<li>DMRs: 2x</li>
			<li>Assault Rifles: 1.5x</li>
			<li>Crossbow: 0x</li>
			<li>Flaregun: 0x</li>
		</ul>
		</li>
		<li>
		<h4>2.4.5. Sanhok Settings: ETC</h4>

		<ul>
			<li>Stock Attachments: 1x
			<ul>
				<li>Quiver (Crossbow): 0x</li>
			</ul>
			</li>
		</ul>
		</li>
		<li>
		<h4>2.4.6. Sanhok Settings: Consumables</h4>

		<ul>
			<li>Gas Can: 0x</li>
		</ul>
		</li>
		<li>
		<h4>2.4.7. Sanhok Settings: Clothing</h4>

		<ul>
			<li>Clothing: 0x</li>
		</ul>
		</li>
		<li>
		<h4>2.4.8. Sanhok Settings: Land Vehicles</h4>

		<ul>
			<li>Motorbike w/ Sidecar: 0x</li>
		</ul>
		</li>
	</ul>
	</li>
</ul>

<h2>3. In-Game Scoring</h2>
Every Match in the Competition will award Points in accordance with the following scoring system.

<ul style="list-style-type:none">
	<li>
	<h3>3.1. Kill Points</h3>
	Kill Points are awarded to teams based on the number of Kills the Team accumulates during each Match. A Team will earn one (1) Kill Point per Kill.</li>
	<li>
	<h3>3.2. Ranking Points</h3>
	Ranking Points are awarded to teams based on their finishing position at the end of each Match. Teams will accumulate Ranking Points based on the following matrix.</li>
</ul>

<table align="center" class="table table-bordered" style="background-color:transparent; border-bottom-color:rgb(221, 221, 221); border-bottom-style:solid; border-image:initial; border-left-color:initial; border-left-style:initial; border-radius:4px; border-right-color:rgb(221, 221, 221); border-right-style:solid; border-spacing:0px; border-top-color:rgb(221, 221, 221); border-top-style:solid; border-width:1px 1px 1px 0px; margin-bottom:10px; max-width:100%; width:365px">
	<tbody>
		<tr>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Placement</th>
			<th style="background-color:rgb(187, 187, 187); text-align:center; vertical-align:top">Points</th>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">#1</td>
			<td style="text-align:center; vertical-align:top">10</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">#2</td>
			<td style="text-align:center; vertical-align:top">6</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">#3</td>
			<td style="text-align:center; vertical-align:top">5</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">#4</td>
			<td style="text-align:center; vertical-align:top">4</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">#5</td>
			<td style="text-align:center; vertical-align:top">3</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">#6</td>
			<td style="text-align:center; vertical-align:top">2</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">#7</td>
			<td style="text-align:center; vertical-align:top">1</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">#8</td>
			<td style="text-align:center; vertical-align:top">1</td>
		</tr>
		<tr>
			<td style="text-align:center; vertical-align:top">#9 - 16</td>
			<td style="text-align:center; vertical-align:top">0</td>
		</tr>
	</tbody>
</table>

<ul style="list-style-type:none">
	<li>
	<h3>3.3. Match Points</h3>
	A Team’s Match Points is the sum of their Kill Points and Placement Points.<br>
	Kill Points + Placement Points = Match Points<br>
	For example, a Team which accumulates 10 Kills and finishes the Match in the 3rd position will earn 15 Match Points (10 + 5 = 15).</li>
	<li>
	<h3>3.4. Total Points</h3>
	A Team’s Total Points is the sum of all Match Points accumulated during a set period of time.</li>
	<li>
	<h3>3.5. Tie Breaker</h3>
	In the event that two or more teams have the same number of Total Points, the following rules shall be applied to break the tie.</li>
</ul>

<ol>
	<li>Compare every tied Team’s total Kill Points across all Matches</li>
	<li>Compare every tied Team’s best-performing Match based on Match Points</li>
	<li>Compare every tied Team’s best-performing Match based on Kill Points</li>
	<li>Compare every tied Team’s Kill Points in the most recent Match</li>
	<li>Compare every tied Team’s Placement Points in the most recent Match</li>
</ol>

<h2>&nbsp;</h2>

<h2>4. Details</h2>

<ul style="list-style-type:none">
	<li>
	<h3>4.1. Game preparations</h3>
	Please resolve any problems that might occur before a match starts. Connection or hardware problems during a match could lead to disqualification by FOM admins. Make sure all players are eligible to play. In team games, all players must be registered for their corresponding team's roster.</li>
	<li>
	<h3>4.2. Substitute Players</h3>
	It is only allowed to substitute a player before the match starts. If the match is started all 4 players of a team must play the game until the end. It is possible to switch players between the maps. A team is allowed to have 1 substitute player.</li>
	<li>
	<h3>4.3. No show</h3>
	If less than 3 players are present in the lobby at the announced start time the team will be removed before starting the match.</li>
	<li>
	<h3>4.4. Number of players</h3>
	Teams are allowed to play one match per round with 3 players, in case of technical problems.</li>
	<li>
	<h3>4.5. Disconnects</h3>
	In the case that a player(s) disconnects during a match, the team is allowed to continue to play the match at a disadvantage.</li>
	<li>
	<h3>4.6. Forfeit</h3>
	Participants can choose to forfeit a match if they wish. Forfeiting will result in 0 points from that match and possible penalty points.</li>
	<li>
	<h3>4.7. Observers</h3>
	Observers are organized by FOM admins and people that are given permission by an admin (e.g. shout casters or streamers).</li>
	<li>
	<h3>4.8. Results</h3>
	All results will be input by compo admin. If anything is unclear, participants should have screenshots available to verify the result and file a support ticket.</li>
</ul>

<h2>5. Communication &amp; Support</h2>
Please submit a&nbsp;<a href="https://play.eslgaming.com/playerunknownsbattlegrounds/support" style="box-sizing: border-box; background-color: transparent; color: var(--abyss-blue); text-decoration-line: none;" target="_parent">support ticket</a>&nbsp;for any assistance during the cup. For communications, we ask teams to use our FOM Discord server.

<ul style="list-style-type:none">
	<li>
	<h3>5.1. Admins</h3>
	All participants must adhere to the decisions and rules of the tournament organizers, admins, and referees. All decisions are final, except in cases where the option to appeal is clearly stated. Conversations, either verbal or written, between organizers, admins or referees, and participants are confidential. Publicly posting or sharing these conversations with outside parties is strictly forbidden, unless permission is obtained.</li>
</ul>
</div>

