<p dir="ltr" style="text-align:center">
  <strong>League of Legends: Grand Compo - Timetable FoM 26.0</strong>
</p>

<p dir="ltr">
  <strong>Groupstages: Best of 1</strong>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Round 1: Friday 23:00 </span>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Round 2: Saturday 00:00 </span>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Round 3: Saturday 01:00 </span>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Round 4: Saturday 02:00 </span>
</p>

<p dir="ltr">
  &nbsp;
</p>

<p dir="ltr">
  <strong>Upper Bracket: Best of 1</strong>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Round of 16: Saturday 11:00</span>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Quarterfinals: Saturday 13:00</span>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Semi-finals: Saturday 15:00</span>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Upper bracket finals: <u><strong>BEST OF 3</strong></u> Saturday 17:00</span>
</p>

<p dir="ltr">
  &nbsp;
</p>

<p dir="ltr">
  <strong>Lower Bracket: Best of 1</strong>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Round of 8A: Saturday 13:00</span>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Round of 8B: Saturday 15:00</span>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Round of 4A: Saturday 17:00</span>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Round of 4B: Saturday 19:00</span>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Lower bracket semifinals: Saturday 21:00</span>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Lower bracket finals: <u><strong>BEST OF 3</strong></u> Saturday 23:00</span>
</p>

<p>&nbsp;
</p>

<p dir="ltr">
  <strong>Finals: Best of 5&nbsp;</strong><span style="background-color:transparent; font-family:verdana; font-size:13px">(Winner upper bracket finals starts with 1-0 lead)</span><br />
  <strong>Sunday 11:00 </strong>
</p>

<p><small>Teams not on schedule can be forced to forfeit by the compo admin.</small>
</p>
