<p dir="ltr" style="text-align:center"><strong>League of Legends: Semi-Pro Compo - Rulebook FoM 23.0</strong></p>

<p><a name="navigation"></a></p>

<p><strong>Quick Navigation</strong></p>

<hr />
<p>&nbsp;</p>

<ul>
	<li><a href="#general">1 - General Rules</a></li>
	<li><a href="#competition">2 - Competition Rules</a>
	<ul>
		<li><a href="#overview">2.1 - Overview</a></li>
		<li><a href="#signin">2.2 - Sign In</a></li>
		<li><a href="#rules">2.3 - Compo Rules</a></li>
		<li><a href="#structure">2.4 - Compo Structure</a></li>
	</ul>
	</li>
	<li><a href="#admin">3 - Admin Details</a></li>
</ul>

<p>&nbsp;</p>

<p><br />
<a name="general"></a></p>

<p><strong>1. General rules</strong></p>

<hr />
<ul>
	<li>Be sure to read the <a href="http://www.fom.be/contents/view/general-competition-rules"><strong>general rulebook</strong></a>. These are the main rules of Frag-o-Matic and should always be respected.</li>
</ul>

<p style="text-align:right"><a href="#navigation" style="color:#17587f;">Back to top</a></p>

<p><a name="competition"></a></p>

<p><strong>2 - Competition rules</strong></p>

<hr />
<p><a name="overview"></a></p>

<p><strong>2.1 - Compo Overview</strong></p>

<ul>
	<li>Title: League of Legends 5v5</li>
	<li>Size: Semi-Pro</li>
	<li>Max teams: 16</li>
	<li>Gametype: 5v5</li>
</ul>

<p><br />
<a name="signin"></a></p>

<p><strong>2.2 - Sign In</strong></p>

<ul>
	<li>No sign in. Dropouts from LoL 5v5 Grand Compo will automatically be placed in this compo.</li>
	<li>Every team must add all of their League of Legends summoner names and seat numbers to the team description!</li>
	<li>There may only be 7 players in a team. Only the registered player can play for the team.</li>
	<li>5 main players and 2 backup players.</li>
</ul>

<p><br />
<a name="rules"></a></p>

<p><strong>2.3 - Compo Rules</strong></p>

<p>&nbsp;</p>

<ul>
	<li>Game Settings:
	<ul>
		<li>Map: Summoner&rsquo;s Rift</li>
		<li>Team size: 5</li>
		<li>Allow Spectators: All</li>
		<li>Game Type: Tournament Draft</li>
		<li>Name: FoM 5v5 team a vs team b</li>
		<li>Password: fom</li>
	</ul>
	</li>
	<li>Bans:
	<ul>
		<li>We will be using the 10-ban system being used in the LCS.</li>
		<li>This means both sides begin with banning 3 champs each (Ban Phase 1).</li>
		<li>Then there will be some picks (Pick Phase 1). Blue picks first, red picks twice, blue picks twice and then red picks once again.</li>
		<li>After that there&rsquo;s a second ban phase (Ban Phase 2), where the two sides alternate bans back and forth, starting with red side.</li>
		<li>There&rsquo;s then a final pick phase (Pick Phase 2), where red picks once, blue picks twice and red picks one final time.</li>
		<p><img alt="" src="http://am-a.akamaihd.net/image?f=https://news-a.akamaihd.net/public/images/articles/2017/10_bans_coming/Pick_Phases.jpg&amp;resize=1638:" style="height:204px; width:1174px" /><br />
<a name="general"></a></p>
	</ul>
	</li>
	<li>Disconnects / Pausing:
	<ul>
		<li>Pausing the game is only allowed if a player disconnects or has a serious issue.</li>
		<li>Before unpausing the game, both teams have to agree in all chat.</li>
		<li>If a pause lasts longer than 5 minutes contact the compo admin.</li>
		<li>During a pause every player remains at his seat, ready to continue the game. The team captain on each team is allowed to contact the compo admin.</li>
		<li>Abuse of the pause function in any way, may lead to a forfeit.</li>
	</ul>
	</li>
	<li>Regame:
	<ul>
		<li>A regame is allowed if both teams agree it is needed to play a fair and balanced match.</li>
		<li>Everyone plays the same champion and uses the same summoner spells.</li>
		<li>If a player cannot connect to a game before it has started because of a bug, the game has to be restarted. A screenshot of the bug is required!</li>
	</ul>
	</li>
	<li>Schedule Problems:
	<ul>
		<li>The schedule must be followed. If a game hasn&rsquo;t started within 15 minutes of the scheduled match time, the admin may decide to forfeit the game. If both teams are absent, both teams may be forced to forfeit their game.</li>
		<li>To avoid forfeiting when the opposing team doesn&rsquo;t show. Take a screenshot of your entire team in a game lobby with the correct name and password and if possible invites to the opposing team. Contact the compo admin as soon as you have this screenshot.</li>
	</ul>
	</li>
	<li>New &amp; reworked champions:
	<ul>
		<li>New &amp; reworked champions are banned for 14 days, starting the day they are released.</li>
		<li>if a champion is banned because of this rule during any match of the tournament, the champion will be banned for the entire tournament.</li>
		<li>Banning the new champion in a game counts as a normal ban.</li>
		<li>Banned champions:
		<ul>
			<li>None</li>
		</ul>
		</li>
	</ul>
	</li>
	<li>Spectators:
	<ul>
		<li>Spectators are allowed only if both teams agree to it.</li>
		<li>Only invite spectators you trust. Once a game has started protests against spectators will no longer be allowed.</li>
		<li>Admins or people assigned by an admin, like shoutcasters, are allowed to spectate any match. It can&rsquo;t be refused to invite an admin or someone assigned by an admin.</li>
	</ul>
	</li>
	<li>Missing Player:
	<ul>
		<li>You need 5 players on a team to play a match.</li>
		<li>If a team is missing a player, the admin may decide to forfeit the game.</li>
	</ul>
	</li>
	<li>Cheats:
	<ul>
		<li>Any actions, that results in an unfair advantage, are illegal.</li>
		<li>This includes bug abuse of any kind.</li>
	</ul>
	</li>
	<li>Picking Sides:
	<ul>
		<li>The higher seeded team chooses which side they play.</li>
		<li>if this is unclear, please contact an admin.</li>
	</ul>
	</li>
	<li>Win Conditions:
	<ul>
		<li>A team wins a game by destroying the opposing Nexus or forcing the other team to surrender.</li>
		<li>Both teams are required to take a screenshot of the after game lobby.</li>
		<li>Keep this screenshot saved on your computer during the tournament.</li>
	</ul>
	</li>
	<li>Contacting the Compo Admin:
	<ul>
		<li>You can contact the admin in game via their summoner name listed below.</li>
		<li>If you can&#39;t contact the admin online, visit the compo desk.</li>
	</ul>
	</li>
</ul>

<p><a name="structure"></a></p>

<p><strong>2.4 - Compo Structure</strong></p>

<ul>
	<li>Groupstages: No groupstages</li>
	<li>Brackets: Double elimination</li>
	<li>Final: BO3</li>
</ul>

<p style="text-align:right"><a href="#navigation" style="color:#17587f;">Back to top</a></p>

<p><a name="admin"></a></p>

<p><strong>3 - Admin Details</strong></p>

<hr />
<ul>
	<li>Name: Rob (RoobieBoobieee)</li>
	<li>Contact: <a href="mailto:roobieboobieee@fom.be">roobieboobieee@fom.be</a></li>
	<li>Discord: RoobieBoobieee#1235</li>
</ul>

<p style="text-align:right"><a href="#navigation" style="color:#17587f;">Back to top</a></p>

<p><small>The admin is allowed to change these rules at any time without any notification.<br />
The admin is allowed to overrule the rulebook. </small></p>
