<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Saturday:</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Single elimination brackets: (BO3)</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Round 1 (ro32): 12:30</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Round 2 (ro16): 14:30</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Round 3 (ro8): 16:30</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Round 4 (ro4): 18:30</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Grand Finals: 21:00 (BO5)</span></p>
