<p dir="ltr" style="text-align:center">
  <strong>League of Legends: TFT Compo - Timetable FoM 26.0</strong>
</p>

<p dir="ltr">
  <strong>Groupstage 1: FFA (3 rounds)</strong>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Round 1: Saturday 16:00 </span>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Round 2: Saturday 17:15 </span>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Round 3: Saturday 18:30 </span>
</p>

<p dir="ltr">
  <strong>Groupstage 2: FFA (3 rounds)</strong>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Round 1: Saturday 22:00 </span>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Round 2: Saturday 23:00 </span>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Round 3: Saturday 24:00 </span>
</p>

<p dir="ltr">
  <strong>Groupstage 3: FFA (3 rounds)</strong>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Round 1: Sunday 10:00 </span>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Round 2: Sunday 11:00 </span>
</p>

<p dir="ltr">
  <span style="background-color:transparent; font-family:verdana; font-size:13px">Round 3: Sunday 12:00 </span>
</p>

<p><small>Players not on schedule can be forced to forfeit by the compo admin.</small>
</p>
